{% load static %}
<div class="container-fluid bg-light pt-5 px-sm-3 px-md-5" >
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
            <a href="index.html" class="navbar-brand">
                {% comment %} <h1 class="mb-2 mt-n2 display-5 text-uppercase"><span class="text-primary">Dango</span>News</h1> {% endcomment %}
            <img src="{% static 'djangonews-logo.png' %}" height="80px;" width="250px;">
            </a>
            
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-secondary text-center mr-2 px-0" style="width: 38px; height: 38px;" href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-bold mb-4" style='text-align:right;'>دسته بندی</h4>
            <div class="d-flex flex-wrap m-n1" >
                {% for cat in category  %}
                <a href="{% url 'news:category_post' cat.id %}" class="btn btn-sm btn-outline-secondary m-1" >{{cat.name}}</a>
                {% endfor %}
                
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            
            <div class="d-flex flex-wrap m-n1" style='text-align:right;'>
               {% include "news/partiation/tags.html" %}
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <h4 class="font-weight-bold mb-4" style='text-align:right;'>دسترسی سریع</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-secondary mb-2" href="{% url 'news:home' %}" style='text-align:right;'><i class="fa fa-angle-right text-dark mr-2" ></i>صفحه اصلی</a>
                <a class="text-secondary" href="{% url 'news:news' %}" style='text-align:right;'><i class="fa fa-angle-right text-dark mr-2" ></i>دسته بندی اخبار</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid py-4 px-sm-3 px-md-5 bg-dark">
    <p class="m-0 text-center" style='color:white;'>
        &copy;این وب سایت طراحی شده به وسیله 
        <b style='color:#ffbe0b;'> خانم مهشیدشیدایی </b>
        
       
        
    </p>
</div>