{% load static %}
<div class="container-fluid">
    <div class="row align-items-center bg-light px-lg-5">
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between">
                <div class="bg-primary text-white text-center py-2" style="width: 100px;">اخبار پربازدید</div>
                <div class="owl-carousel owl-carousel-1 tranding-carousel position-relative d-inline-flex align-items-center ml-3" style="width: calc(100% - 100px); padding-left: 90px;">
                   {% for post in populerr_posts %}
                    <div class="text-truncate"><a class="text-secondary" href="{{post.get_absolute_url}}">{{post.title}}</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-4 text-right d-none d-md-block">
           {% now "DATETIME_FORMAT" %}
        </div>
    </div>
    <div class="row align-items-center py-2 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand d-none d-lg-block">
                {% comment %} <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">Dango</span>News</h1>
                 {% endcomment %}
                 <img src="{% static 'djangonews-logo-removebg-preview.png' %}" height="100px;" width="230px;">  
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <img class="img-fluid" src="img/ads-700x70.jpg" alt="">
        </div>
    </div>
</div>